h1 {
  margin-bottom: 0.3em;
  font-size: 7.2rem;
  line-height: 1.3em;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.2em;
}

h6 {
  font-size: 1.4rem;
  font-weight: 400;
  font-weight: 500;
}

p {
  font-size: 1.7rem;
  line-height: 1.5em;
}