$animation-duration-default: 200ms;

// Colors
$colors: (
  gray900: #1c1c1c,
  gray800: #294766,
  gray600: #303030,
  gray500: #565656,
  gray400: #9ba3ab,
  gray300: #dddddd,
  gray250: #eeeeee,
  gray200: #efefef,
  gray100: #f9fafc,
  blue500: #005aa1,
  blue100: #f2f8ff,
  red500: #e74141,
  orange500: #e47e00,
  green500: #729615,
  yellow500: #ffd100,
);

// Fonts
$font-family: StrategDIN, Helvetica, sans-serif;

// Breakpoints
$breakpoints: (
  mobile: 0,
  tablet: 620px,
  desktop: 980px,
);

// Tweakpoints
$tweakpoints: () !default;

// Grid
$grid-width: 100%;
$grid-max-width: 1440px;
$grid-columns: 12;
$grid-columns-width: (100 / $grid-columns);
$grid-gutter: (
  mobile: 12px,
  tablet: 24px,
  desktop: 32px
);
$grid-column-gutter: (
  mobile: 5px,
  tablet: 10px,
  desktop: 15px
);

// Easings
$easings: (
  // In
  easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
  easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
  easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
  easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715),
  easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
  easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335),
  easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045),
  // Out
  appleOut: cubic-bezier(0.4, 0.01, 0.165, 0.99),
  swiftOut: cubic-bezier(0.55, 0, 0.1, 1),
  easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
  easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1),
  easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1),
  easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1),
  easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1),
  easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275),
  // In out
  easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1),
  easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
  easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1),
  easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1),
  easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1),
  easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55)
);
